!!!
%html
  %head
    %link{ :rel => 'stylesheet', :href => '/bootstrap/css/bootstrap.min.css' }
    %script{ :type => 'text/javascript', :src => '/jquery.js' }
    %script{ :type => 'text/javascript', :src => '/jquery-ui.js' }
    
  %body
    .container
      =yield
